.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* wrapper luôn cao bằng viewport */
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  flex: 1; /* chiếm không gian còn lại giữa header và footer */
  padding-top: 60px;
}
