.tabNav {
  display: flex;
  background: #e5e5e5; /* nền xám nhạt */
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 24px;
}

.tabBtn {
  flex: 1;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #222; /* chữ đen */
  transition: all 0.25s ease;

  &:hover {
    background: #ccc; /* hover xám đậm hơn */
  }

  &.active {
    background: #000; /* đen */
    color: #fff; /* chữ trắng */
    cursor: default;
    pointer-events: none;
  }
}
